[submodule "src/editor/vendor/ImGuiFileDialog"]
	path = src/editor/vendor/ImGuiFileDialog
	url = https://github.com/aiekick/ImGuiFileDialog

[submodule "thirdparty/stb"]
	path = thirdparty/stb
	url = https://github.com/nothings/stb

[submodule "thirdparty/json"]
	path = thirdparty/json
	url = https://github.com/nlohmann/json
