[submodule "src/editor/vendor/ImGuiFileDialog"]
	path = src/editor/vendor/ImGuiFileDialog
	url = https://github.com/aiekick/ImGuiFileDialog
[submodule "thirdparty/stb"]
	path = thirdparty/stb
	url = https://github.com/nothings/stb
[submodule "thirdparty/FastNoise2"]
	path = thirdparty/FastNoise2
	url = https://github.com/Auburn/FastNoise2.git
[submodule "src/editor/vendor/imgui-node-editor"]
	path = src/editor/vendor/imgui-node-editor
	url = https://github.com/thedmd/imgui-node-editor
[submodule "thirdparty/implot"]
	path = thirdparty/implot
	url = https://github.com/epezent/implot
